
<div class="">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Select wallet to connect</h5>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="btnConnectTrezor()">Trezor</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="btnWalletConnect()">WalletConnect</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="btnConnectMetamask()">Metamask</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="btnConnectLedger()">Ledger</button>
        </div>
        <div class="col-6">

        </div>
      </div>
      <div class="row">
        <p>{{deviceId}}</p>
      </div>
      <div class="row">
        <p>{{event}}</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Command</h5>
      <div class="row">
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary" (click)="btnGetPublicKey()">Get Public Key</button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary" (click)="btnBtcGetAddress()">BTC Get Address</button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary" (click)="btnEthGetAddress()">ETH Get Address</button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary" (click)="btnSignEthTx()">Sign TX Transaction</button>
        </div>
      </div>
      <div class="row">
        <p>{{devReturn}}</p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
